body{
    text-align: center;
    font-size: 2.25vw;
    background-color: rgb(209, 208, 208);
    color: rgb(0, 0, 0);
    font-family: serif;
}
nav {
    
    align-items: center;
    position: absolute; /*Needs to be changed*/
    padding: 0 5%;
    right: 40%;
    top: 5%
}
footer {
    margin: 2% 1%;
}

/*Lists */
li {
    list-style: none;
    color: black;
}
li.nav{
    display: inline;
    justify-content: space-between;
    align-items: center;
}
/*Filter property could be added to image */
img {
    margin: 2% 4%;
    margin: 2% 0%;     
}
/*Anchors */
a{
    text-decoration: none;
}
a.links {
    text-decoration: none;
    color: black;
    justify-content: space-between;
    align-items: center;
}
a:hover {
    opacity: .5;
}

/*IDs*/
#background_image_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

}
#Image_Container{
    opacity: 0.45;
    filter: grayscale(100%);
    margin : 0;
    padding: 0;
    border: 0; 
    max-width: 100%;
    max-height: 100%;
}
/*#Image_Container{
    padding: 0;
    border: 0;
    margin: 0;
}*/